:root {
  --color-main: #2f3640;
  --color-main-hover: #3f4855;
  --color-text: #fff;
  --color-text-hover: #d3d3d3;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 8px #000000;
  letter-spacing: 1.5px;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.main-container {
  width: 80%;
  min-height: 80vh;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
  padding-top: 0;
}

.header-container {
  width: 100%;
  height: 5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 10px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.app-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: left;
}

.search-box {
  background: var(--color-main);
  height: 50px;
  border-radius: 40px;

  padding: 10px;

  display: flex;
  align-items: center;
}

.search-btn,
.current-location-btn {
  color: var(--color-text);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.search-btn:hover,
.current-location-btn:hover {
  background-color: var(--color-main-hover);
}

.search-input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: var(--color-text);
  font-size: 1rem;
  transition: 0.4s;
  line-height: 40px;
  width: 320px;
}

.current-location-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
  height: 50px;

  gap: 10px;
  background: #2f3640;
  color: white;
}
.autocomplete-items {
  position: absolute;
  margin-top: 10px;

  background-color: var(--color-main);
  max-height: 300px;
  width: 360px;
  scrollbar-color: var(--color-text), var(--color-main);
  scrollbar-width: thin;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 10px;
}
.autocomplete-items div {
  line-height: 25px;
  padding: 10px;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-main);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.weather-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  height: 90%;
}

.content-block,
.info-block {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
  border-radius: 20px;
  padding: 1.5em;
}

/* Start Current Weather Block */

.current-weather {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
}

.current-row {
  display: flex;
  align-items: center;
}

.current-feels {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--color-text-hover);
}

.current-temperature {
  font-size: 4rem;
}

.current-status {
  margin-top: 10px;
  font-size: 2em;
  text-transform: capitalize;
}

hr {
  width: 100%;
  height: 5px;
  background-color: var(--color-text);
  margin: 1.5em 0;
}

.current-weather-icon {
  max-width: 100%;
  height: 120px;
  display: block;
}

.current-date-row,
.current-location-row {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--color-text-hover);
}

.current-icon {
  width: 30px;
  height: 30px;
}

.current-date-row {
  margin-bottom: 10px;
}

/* End Current Weather Block */

/* Start Forecast Block */

.block-title {
  margin-bottom: 20px;
}

.forecast {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-row-start: 5;
}

.forecast-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
}

.forecast-temperature-div,
.forecast-date-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.forecast-temperature {
  font-size: 1.5em;
}

/* End Forecast Block */

/* Start Todays Highlights Block*/

.todays-highlights {
  grid-column: span 3 / span 3;
  grid-row: span 6 / span 6;
  grid-column-start: 3;
}

.todays-highlights-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 14px;
}

.wind-info {
  grid-column: span 3 / span 3;
  grid-row: span 1 / span 1;
}

.sunset-sunrise-info {
  grid-column: span 3 / span 3;
  grid-row: span 1 / span 1;
}

.humidity-info {
  grid-column-start: 1;
  grid-row-start: 3;
}

.pressure-info {
  grid-column-start: 2;
  grid-row-start: 3;
}

.visibility-info {
  grid-column-start: 3;
  grid-row-start: 3;
}

.info-block {
  background-color: var(--color-main-hover);
}

.info-icon {
  width: 50px;
  height: 50px;
}

.details-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.wind-div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wind-details-container,
.sunset-sunrise-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.sunset-sunrise-container {
  justify-content: center;
}

.sunset-sunrise-item {
  margin: 0 30px;
}

.wind-item-title {
  margin-bottom: 20px;
}

.highligths-info,
.today-at-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* End Todays Highlights Block */

/* Start Today At Block */

.today-at {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 7;
}

.today-at-scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;

  scrollbar-width: thin;
}

.today-at-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 auto;
  height: 120px;
  width: 100px;
}

.today-at-icon {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 1200px) {
  .current-location-name {
    display: none;
  }

  .app-title {
    font-size: 2rem;
  }

  .search-input {
    width: 240px;
  }

  .current-location-btn {
    width: 120px;
  }

  .autocomplete-items {
    width: 280px;
  }

  .weather-content {
    display: flex;
    flex-direction: column;
  }

  .main-container {
    height: fit-content;
  }
}

@media screen and (max-width: 750px) {
  .current-location-btn {
    width: 50px;
  }

  .wind-div,
  .todays-highlights-grid,
  .wind-details-container,
  .sunset-sunrise-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .forecast-temperature {
    font-size: 1rem;
  }

  .forecast-date-div {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .search-input {
    width: 0;
  }

  .search-box:hover .search-input {
    width: 160px;
    padding: 0 6px;
  }

  .search-box:hover .search-btn {
    background: white;
    color: #2f3640;
  }

  .current-location-btn {
    width: 50px;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .autocomplete-items {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -105%);
  }
}
