:root {
  --color-hr: #ffffff;
  --color-container-bg: rgba(255, 255, 255, 0.2);

  --color-tomato-red: #ff4d4d;
  --color-tomato-green: #4caf50;
  --color-tomato-blue: #2196f3;

  --color-tomato-leafs: #1f801f;
}

body,
html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

hr {
  width: 100%;
  height: 5px;
  background-color: var(--color-hr);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15%;
  height: 500px;
  gap: 0.2em;

  background-color: var(--color-container-bg);
  border: 3px solid black;
  border-radius: 2em;
  padding: 3em;
}

.timer-header,
.progress-value,
.total-pomodoro-cycles {
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 8px #000000;
  z-index: 3;
  letter-spacing: 1.5px;
  transition: color 0.3s ease;
}

.total-pomodoro-cycles {
  margin-top: 1em;
  font-size: 1rem;
}

.leaf {
  width: 30px;
  height: 90px;
  border-radius: 45px 0;
  background-color: var(--color-tomato-leafs);
  position: absolute;

  z-index: 1;
}

.stem {
  width: 20px;
  height: 70px;
  border-radius: 0 20px;
  background-color: var(--color-tomato-leafs);
  position: absolute;

  top: -50px;
  left: 50%;
  transform: translateX(-50%) rotate(30deg);
  z-index: 2;
}

.leaf-1 {
  top: -30px;
  left: 30%;

  transform: translateX(-50%) rotate(75deg);
}

.leaf-2 {
  top: -25px;
  left: 50%;

  transform: translateX(50%) rotate(-250deg);
}

.leaf-3 {
  top: -10px;
  left: 25%;

  transform: translateX(50%) rotate(35deg);
}

.circular-progress {
  width: 200px;
  height: 200px;
  position: relative;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.5s linear;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--color-tomato-red);
}

.timer-buttons {
  user-select: none;
  margin: 2em 0;
}

.work-cycle-buttons {
  width: 100%;
  display: flex;
  gap: 5px;
}

.timer-modes-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.mode-btn {
  text-align: center;
  width: 100px;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cycle-btn {
  width: 100%;
}

.cycle-btn.active {
  border: 4px solid;
  border-color: var(--color-tomato-red);
}

.mode-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.mode-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.timer-btn {
  width: 100px;
  height: 50px;
  cursor: pointer;

  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 2em;
  outline: none;
  border: none;

  transition: background-image 0.5s ease;
}

.btn:hover {
  background-color: var(--color-btn-hover);
}

.start {
  background-image: url("../icons/play.png");
}

.stop {
  background-image: url(../icons/stop.png);
}

.reset {
  background-image: url(../icons/reset.png);
}

.auto-play-btn {
  background-image: url(../icons/autoplay.png);
}

.start:hover {
  background-image: url("../icons/play_hover.png");
}

.stop:hover {
  background-image: url("../icons/stop_hover.png");
}

.reset:hover {
  background-image: url("../icons/reset_hover.png");
}

.auto-play-btn:hover {
  background-image: url("../icons/autoplay_hover.png");
}

.auto-play-btn.active {
  background-image: url("../icons/autoplay_active.png");
}

.hover-red:hover {
  color: var(--color-tomato-red);
}

.hover-green:hover {
  color: var(--color-tomato-green);
}

.hover-blue:hover {
  color: var(--color-tomato-blue);
}

button:focus {
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.6);
  border-radius: 6px;
}

@media (max-width: 500px) {
  .container {
    padding: 1em;
    height: 600px;
  }
}
